h1, h2, h3, h4, h5, h6, p {
    color: inherit;
    font-family: inherit;
    /* override crazy styles of style.css*/
}

::-moz-selection {
    background: #1E1E1E;
    color: #eee;
    text-shadow: none;
}

::selection {
    background: #1E1E1E;
    color: #eee;
    text-shadow: none;
}
.nobr {
    white-space: nowrap;
}
body.custom_home {
    background-color: #e6e6e6;
    font-family: 'open-sans', sans-serif;
}

.header {
    padding: 40px 0 0;
    background: #34383e;
}
.block-first {
    background: #34383e;
    padding-top: 30px;
    color: #fff;
}
.block-last {
    text-align: center;
    padding: 75px 0;
}
.block-features {
    background: #55b76e;
    color: #fff;
    position: relative;
    z-index: 1;
}


.btn-normal {
    text-transform: uppercase;
    font-size: 17px;
    padding-left: 2em;
    padding-right: 2em;
}

.icon-large {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: url(../images/custom/sprite-features.png) no-repeat;
}
    .icon-send { background-position: 0 0; }
    .icon-sign { background-position: -56px 0; }
    .icon-annotate { background-position: -112px 0; }
    .icon-track { background-position: -169px 0; width: 64px }

.content_wrp {
    margin: 0 auto;
    width: 1160px;
}

.home_logo,
.home-logo {
    float: left;
}

/*.menu-contaier {
    float: right;
    margin-top: 7px;
}*/
.menu {
        margin-top: 7px;
        float: right;
        display: inline-block;
        text-transform: uppercase;
    }
        .menu li {
            display: inline-block;
            padding: 0 10px;
        }
            .menu li:before {
                content: '/';
                margin: 0 20px 0 0;
            }

                .menu li:first-child:before,
                .menu li:last-child:before {
                    content: '';
                    margin: 0 10px 0 0;
                }

        .menu a {
            color:#fff;
            font-weight: bold;
            font-size: 14px;
        }
            .menu li a:hover {
                color:#a1a2a7;
            }
            .menu li:last-child {
                padding-right: 0;
                padding-left: 0;
            }

.semi-transparent {
    background-color: #55b76e;
    padding: 9px 19px;
    font-weight: normal;
}

    .semi-transparent:hover {
        background-color: rgba(89,182,113,0.9);
    }

.content {
    /*height: 330px;*/

}
    .content h1 {
        padding-bottom: 25px;
        font-size: 44px;
        line-height: 1.2;
        letter-spacing: -1px;
        font-weight: normal;
        color:#fff;
    }

    .main_content {
        position: relative;
        float: left;
        width: 43%;
        min-height: 444px;
        padding: 10px 0 0 0;
        z-index: 1;
        color: #99a2a7;
    }

        .tagline {
            min-height: 93px;
        }
        .signup_wrp {
            min-height: 73px;
        }
        .share_msg {
            margin-bottom: 10px;
        }
            .main_content .signup:hover {
                background-color: rgba(89,182,113,0.9);
            }

/*        .main_content .video {
            color: #a1a2a7;
            background: url(../images/custom/video-button.png) left center no-repeat;
            margin-left: 10px;
            padding: 17px 60px;
        }
            .main_content .video:hover {
                opacity: 0.8;
            }*/

    .screen {
        position: relative;
    }


.addthis_toolbox {
}
    .addthis_toolbox  a {
        display: inline-block;
        vertical-align: middle;
    }
    .addthis_toolbox br {
        display: none;
    }

.browser_frame {
    background: url( ../images/custom/browser-frame.png) right top no-repeat;
    position: absolute;
    right: 0;
    width: 637px;
    height: 488px;
    padding: 49px 57px 38px 57px;
}
    .browser_frame iframe {
        opacity: 0;
        -webkit-transition: opacity .5s 1500ms;
        -moz-transition: opacity .5s 1500ms;
        transition: opacity .5s 1500ms;
    }
    .browser_frame iframe.loaded {
        opacity: 1;
    }

.block-features {
    padding: 80px 0 0;
}
    .icon-large {
        display: block;
        margin: 0 auto 1em;
    }
    .grid-quarter {
        float: left;
        width: 25%;
    }

    .block-features .grid-quarter {
        padding: 0 1.2em;
        text-align: center;
        margin-bottom: 80px;
    }

    .block-features h3 {
        font-weight: normal;
        font-size: 23px;
    }
    .block-features p {
        margin: 0; /* wordpress inserts empty <p>s */
    }
#smlsubform {
    width: 520px;
    margin:0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 43px;
    padding-bottom:0;
    position:relative;
}

    #smlsubform .sml_intro {
        font-size: 18px;
        text-align: center;
        color:#212227;
    }

    #smlsubform .sml_thankyou {
        color:#59b671;
        font-size: 90%;
        margin:0;
        text-align: center;
    }

    #smlsubform .sml_email {
        margin-bottom: 0px;
    }

    #smlsubform input.sml_emailinput {

        background-color: #e0e2ea;
        width: 286px;
        height: 46px;
        float:left;
        font-size: 17px;
        margin-bottom: 50px;

    }

    #smlsubform .sml_emaillabel {
        margin: 0;
    }

    #smlsubform input.btn.sml_submitbtn {
        float: right;
        padding: 11px 27px 12px 27px;
        font-size: 17px;
        background-color:#59b671 ;
    }

    #smlsubform input.btn.sml_submitbtn:hover {
        background-color: rgba(89,182,113,0.9);
    }

    #smlsubform .social {
        clear:both;
        background-color: #e0e2ea;
        margin:50px -43px 0 -43px;
        padding:28px 55px;
        color:#575a67;
        text-align: center;

        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-left-radius: 10px;

        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        border-bottom-right-radius: 10px;
    }

    #smlsubform .social p {
        color:#575a67;
        font-size: 15px;
    }

    #smlsubform .social .addthis_toolbox.addthis_default_style  {
        text-align: center;
        width: 390px;
        margin:0 auto;
    }

    #smlsubform .mfp-close {
        top:5px;
        right:5px;
        font-style: italic;
        line-height: inherit;
    }

.team,
.advisors {
    *zoom: 1;
    margin: 0 -10px;
}
.team > h3,
.advisors > h3 {
    margin-left: 10px;
}
.team:before,
.team:after,
.advisors:before,
.advisors:after {
    content: "";
    display: table;
}
.team:after,
.advisors:after {
    clear: both;
}


.team_member {
    float: left;
    margin-bottom: 40px;
    width: 25%;
}

    .tm-wrap {
        /*width: 220px;*/
        height: 390px;
        background-color: #fbf9f7;
        margin: 0 10px;
        text-align: center;
        border: 1px solid #f0edea;
        border-radius: 5px;

    }
        .team_member.left {
            margin-left: 0;
            padding-right:0 !important;
        }

    .member_photo {
        width: 160px;
        height: 160px;
        background-color: #fff;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 85px;
        max-width: 100%;
    }
    .member_name {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 27px;
        margin: 0;
        color: #4f5b66 !important;
        font-weight:bold;
    }
    .member_title {
        margin: 7px 0 13px 0;
        font-size: 14px;
        color: #808080;
        font-weight: bold;
    }
    .member_info {
        margin: 10px 20px;
        font-size: 14px;
        color: #666666;
        line-height: 20px;
    }


@media (max-width: 930px) {
    .team_member {
        width: 33%;
    }
}
@media (max-width: 710px) {
    .team_member {
        width: 50%;
    }
}
@media (max-width: 500px) {
    .team_member {
        width: auto;
    }
    .tm-wrap {
        height: auto;
    }
    .member_photo {
        margin: 10px;
        width: auto;
        height: auto;
    }
}


.row .columns .green_button {
    display: inline-block;
    background-color: #59b671;
    padding:11px 20px;
    margin-right: 10px;
    color:#fff;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.row .columns a.green_button:hover {
    background-color: rgba(89,182,113,0.9);
    border:none;
}

.row .columns .left {
    padding-right: 25px;
}

.row .columns .right {
    padding-left: 25px;
}


/* clearfix */

.clearfix {
    *zoom: 1;
}
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .clearfix:after {
        clear: both;
    }

/*
    Layout helper
*/

/*html*/.debug{
    background: 50% top no-repeat;
    background-image:url(../images/_landing2.jpg);
}
.debug body{
    opacity:.3;
    background:none;
}
.debug:hover body{
    opacity:1;
}
.debug div,
.debug li,
.debug ul,
.debug ol,
.debug section,
.debug header,
.debug footer,
.debug table,
.debug td,
.debug th{
    outline:1px dashed rgba(255, 128, 0, .5);
}
